body {
font-family: 'Open Sans', sans-serif;
}

.left {
    position: relative;
    float: left;
}

.right {
    position: relative;
    float: right;
}

.icon {
    height: 100px;
    width: 100px;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.wx-fc-box {
    width: 400px;
}

.wx-fc-day {
    height: 100px;
}

#container {
    width: 500px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.wx-fc-box h4 {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    border: 0px;
}

.wx-fc-box p {
    font-size: 80%;
    margin: 0px;
}

.icon img {
  position: relative;

  margin: 0px 25px 0px 25px;
}